{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <p class="mr-2">Driver: <strong>{{ user.username }}</strong></p>
        </div>
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
            <p>Phone: {{ user.rider.phone }}</p> 
            <p>Vehicle type: {{user.driver.Vtype}}</p>
            <p>Max capacity: {{ user.driver.max_pnum }}</p>
            <p>Brand & Model: {{ user.driver.brand }} {{ user.driver.model }}</p>
            <p>Plate No.: {{ user.driver.plateNum }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Special Info: {{user.driver.special_info}}</p>
            <a href="{% url 'driver_edit_info' %}">Edit driver info</a>
        </div>
    </article>
{% endblock content%}
{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
    <h3>Driver Sidebar</h3>
    <p class='text-muted'>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'driver' %}">Driver personal info</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'driver_search_ride' %}">Look for open rides</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'driver_view_confirmed' %}">Confirmed and Completed Rides</a></li>
        </ul>
    </p>
    </div>
</div>
{% endblock %}
