{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content%}

<body>
{% if ride %}
    <h1>Ride as owner</h1>
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <p class="mr-2">Ride No.{{ride.id}} Ride owner: <strong>{{ ride.owner }}</strong></p>
            </div>
                <p>Destination: <strong>{{ ride.destination }}</strong> </p>
                <p>Arrival time: {{ ride.arrival_time }}</p>
                <p>Sharers : {% if sharers_list %}{% for sharer in sharers_list %} {{ sharer }} {% endfor %}{% else %} no sharers {% endif %}</p>
                <p>Vehicle Type: {{ride.vehicle}}</p>
                <p>Remaining seats: {{ ride.remaining_seats }}</p>
                {% if ride.sharable %}
                    <p>Sharable : YES</p>
                {% else %}
                    <p>Sharable : NO</p>
                {% endif %}
                <p>Status : {{ ride.status }}</p>
                <p>Special Request: {{ride.special_request}}</p>
            </div>
        </article>
        <br/>

    {% if not sharers %}
        <h1> Edit Ride </h1>
        <form action="/edit_ride/" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <article class="media content-section">
                <div class="media-body">
                    <li>Destination:<input type="text" name="destination" required="required"></li>
                    <li>Arrival Time:<input type="datetime-local" name="arrival_time" required="required"></li>
                    <li>Party Size:<input type="number" name="party_size" min="1" max="6" required="required"></li>
                    <li>vehicle:<select type="text" name="vehicle">
                            <option  value = "Sedan">Sedan</option>
                            <option  value = "SUV">SUV</option>
                        </select></li>
                    <li>Sharable or Not:<select type="boolean" name="sharable">
                            <option value = True>Yes</option>
                            <option value = False>No</option>
                        </select></li>
                    <li>Special Request:<input type="text" name="special_request"></li>
                    <input type="hidden" name="edit_id" value={{ride.pk}}>
                    <button class="btn btn-outline-info" type="submit"> Save Changes </button>
                </div>
            </article>
        </form>
    {% else %}
        <h3> Your ride already have sharers, so you cannot edit it anymore!</h3>
    {% endif %}


{% else %}
    <p>No such ride.</p>
{% endif %}
</body>
{% endblock %}
{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
    <h3>Rider Sidebar</h3>
    <p class='text-muted'>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile' %}">Personal info</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'create_ride' %}">Create a ride request</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'search_ride' %}">Search for a ride share</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'view_open' %}">View open rides</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'view_confirmed' %}">View confirmed rides</a></li>
        </ul>
    </p>
    </div>
</div>
{% endblock %}