{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<h1>Enter your info to search available rides</h1>
<body>
<form action="/search_ride/" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-outline-info" type="submit"> Search </button>
</form>

</body>

{% if existRides %}
     {% if available_rides %}
        <h1>Available rides</h1>
        {% for ride in available_rides %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <p class="mr-2">Ride No.{{ride.id}} Ride owner: <strong>{{ ride.owner }}</strong></p>
                </div>
                    <p>Destination: <strong>{{ ride.destination }}</strong> </p>
                    <p>Arrival time: {{ ride.arrival_time }}</p>
                    <p>Remaining seats {{ ride.remaining_seats }}</p>
                    <p>Vehicle: {{ ride.vehicle }} </p>
                    <p>Status : {{ ride.status }}</p>
                </div>
                <div>
                    <form action="/join_ride/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="ride_detail_id" value={{ride.id}}>
                        <input type="hidden" name="size" value={{size}}>
                        <button class="btn btn-outline-info" type="submit"> Join This Ride </button>
                    </form>
                </div>
            </article>
        {% endfor %}
     {% else  %}
         <p>No available ride</p>
     {% endif %}
{% endif %}
{% endblock %}
{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
    <h3>Rider Sidebar</h3>
    <p class='text-muted'>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile' %}">Personal info</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'create_ride' %}">Create a ride request</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'search_ride' %}">Search for a ride share</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'view_open' %}">View open rides</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'view_confirmed' %}">View confirmed rides</a></li>
        </ul>
    </p>
    </div>
</div>
{% endblock %}