<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
<head>
    <title>Open Rides I Joined</title>
</head>
<body>
{% if ride %}
  <h1>Ride as sharer</h1>
        <li>Ride Number : {{ride.pk}}</li>
        <li>Owner : {{ride.owner}}</li>
        <li>Sharers : {{sharers_list}}</li>
        <li>Vehicle Type:{{ride.vehicle}}</li>
        <li>Remaining seats : {{ride.remaining_seats}}</li>
        <li>Destination : {{ride.destination}}</li>
        <li>Arrival Time : {{ride.arrival_time}}</li>
        <li>Ride Status : {{ride.status}}</li>
        {% if ride.is_sharable %}
        <li>Sharable? : YES</li>
        {% else %}
        <li>Sharable? : NO</li>
        {% endif %}
        <li>Special Request:{{ride.special_request}}</li>

        <br/>


    <h2> Edit Ride </h2>
    <form action="/sharer_edit_ride/" method="POST">
    {% csrf_token %}
        <li>Party Size:<input type="number" name="party_size" min="1" max="6" required="required"></li>
        <input type="hidden" name="edit_id" value={{ride.pk}}>
        <input type="hidden" name="ride_id" value={{ride_id}}>
        <button class="btn btn-outline-info" type="submit"> Save Changes </button>
    </form>



{% else %}
    <p>No such ride.</p>
{% endif %}
</body>
</html>