{% extends "users/base.html" %}
{% block content%}

<h1>Confirmed ride</h1>
<body>
{% for ride in confirmed_rides %}
    <h5>Ride No.{{ride.id}}  <a href="/view_confirmed_detail/{{ride.id}}/">view ride detail</a></h5>
        <p>Ride owner: {{ ride.owner }} </p>
        <p>Vehicle: {{ ride.vehicle }} </p>
        <p>Destination: {{ ride.destination }}</p>
        <p>Arrival time: {{ ride.arrival_time }}</p>
        <p>Remaining seats {{ ride.remaining_seats }}</p>
        <p>Status : {{ ride.status }} </p>
{% endfor %}
</body>

{% endblock %}