
{% extends "users/base.html" %}
{% block content%}
<body>
{% if ride %}
  <h1>Ride as sharer</h1>
        <li>Ride Number : {{ride.pk}}</li>
        <li>Owner : {{ride.owner}}</li>
        <li>Sharers : {{sharers_list}}</li>
        <li>Vehicle Type:{{ride.vehicle}}</li>
        <li>Remaining seats : {{ride.remaining_seats}}</li>
        <li>Destination : {{ride.destination}}</li>
        <li>Arrival Time : {{ride.arrival_time}}</li>
        <li>Ride Status : {{ride.status}}</li>
        {% if ride.is_sharable %}
        <li>Sharable? : YES</li>
        {% else %}
        <li>Sharable? : NO</li>
        {% endif %}
        <li>Driver : {{driver_name}}</li>
        <li>Vehicle brand : {{driver.brand}}</li>
        <li>Vehicle model : {{driver.model}}</li>
        <li>Plate Number : {{driver.plateNum}}</li>

        <li>Special Request:{{ride.special_request}}</li>

        <br/>

{% else %}
    <p>No such ride.</p>
{% endif %}
</body>
{% endblock %}

